@import "fonts.css";

* {
  font-family: "JetBrains Mono NL", monospace;
}

h1, h2, h3, p, div, span { transition: color var(--std-transition), background var(--std-transition) }

button { transition: color var(--std-transition), background var(--std-transition), border-left-color var(--std-transition) }

html, body {
  height: 100%;
  background: var(--bg);
  color: var(--cl);
  transition: background var(--std-transition), color var(--std-transition);
}

div, span { transition: background var(--std-transition); }

a {
  color: var(--cl);
  text-decoration: solid underline 3px var(--accent);
}

a:hover {
  color: var(--accent);
  text-decoration-color: var(--cl);
}

h1, h2, h3, p { margin: 0; padding: 0; }
