:root {
  --bg: #212121;
  --highlight: #323031;
  --cl: #FDFDFD;
  --shadow: inset rgba(0, 0, 0, 0.2) 0 1px 3px, inset rgba(0, 0, 0, 0.2) 0 1px 2px;

  --ruby: #EF2F54;
  --accent: #FF9F1C;
  --std-transition: 70ms ease-in-out;
}

:root.light {
  --bg: #EDE7D9;
  --highlight: #FDFDFD;
  --cl: #222222;
  --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
